* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    color: #333;
    background-color: #333;
}

div#container {
    width: 1200px;
    min-width: 800px;
    margin: 2em auto;
    padding-top: 2em;
    background-color: white;
}

header {
    width: 800px;
    margin: auto;
}

#banner {
    position: relative;
    display: flex;
    width: 800px;
    height: 250px;
    margin: auto;
    background-color: #333;
}

#banner div {
    transition: all 2s;
    opacity: .75;
}

#banner div:hover {
    width: 800px;
    opacity: 1;
}

h1 {
    margin: .7em 0 0 -1.25em;
    font-size: 4.5em;
    font-family: Helvetica, sans-serif;
    letter-spacing: -.2em;
}

h2 {
    margin: -.75em 0 0 0;
    font-size: 1em;
    font-weight: normal;
    font-style: italic;
}

#container>section {
    width: 800px;
    margin: 5em auto 1em auto;
    display: flex;
    justify-content: space-evenly;
    /* display:grid;
  grid-template-columns: 1fr 1fr 1fr; */
}

section section {
    width: 33%;
    /* border: 1px lightgray dotted; */
    padding: 1em;
    /* background-color: #eee; */
    background-image: url("images/swirl-bg-lt.png");
}

section section:nth-child(2) {
    margin: 0 1em;
}

h3 {
    padding-left: .5em;
    margin-bottom: 0;
    font-size: 1em;
    font-weight: normal;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
}

section li {
    margin-left: 0;
    padding-left: 1.2em;
}

section nav li a {
    line-height: 1.1em;
    display: inline-block;
    padding: .5em;
    color: #f06;
}

section a:hover {
    color: #333;
}

#projects a:hover {
    background-color: yellow;
}

#research a:hover {
    background-color: greenyellow;
}

#dev a:hover {
    background-color: turquoise;
}

footer {
    text-align: center;
    background: linear-gradient(to bottom right, yellow, greenyellow);
    /* Standard syntax */
}

footer nav {
    width: 1200px;
    min-width: 800px;
    margin: 0 auto;
    padding: 2em 0;
    text-align: center;
}

footer li {
    display: inline;
    font-weight: bold;
    font-size: .9em;
}

footer a {
    padding: 3em;
    color: #333;
}

footer a:hover {
    background-color: #f06;
    color: white;
}

#st1 {
    width: 55px;
    background-color: purple;
}

#st1:hover,
#st7:hover,
#st11:hover,
#st13:hover,
#st19:hover,
#st20:hover {
    background-color: black;
    cursor: cell;
}

#st2 {
    width: 25px;
    background-color: lawngreen;
}

#st2:hover {
    cursor: ne-resize;
}

#st3 {
    width: 35px;
    background-color: rgb(238, 255, 82);
}

#st3:hover {
    cursor: nw-resize;
}

#st4 {
    width: 35px;
    background-color: rgb(252, 113, 0);
}

#st4:hover {
    cursor: se-resize;
}

#st5 {
    width: 77px;
    background-color: rgb(231, 31, 75);
}

#st21,
#question {
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#st5:hover {
    cursor: sw-resize;
}

#st6 {
    width: 55px;
    background-color: rgb(0, 214, 252);
}

#st6:hover {
    cursor: ne-resize;
}

#st7 {
    width: 25px;
    background-color: rgb(134, 45, 57);
}

#st8 {
    width: 25px;
    background-color: rgb(252, 248, 0);
}

#st8:hover {
    cursor: nw-resize;
}

#st9 {
    width: 35px;
    background-color: rgb(21, 184, 248);
}

#st9:hover {
    cursor: se-resize;
}

#st10 {
    width: 35px;
    background-color: rgb(252, 113, 0);
}

#st10:hover {
    cursor: sw-resize;
}

#st11 {
    width: 77px;
    background-color: rgb(224, 31, 231);
    /* animation-duration: 800ms; */
}

#st12 {
    width: 35px;
    background-color: turquoise
}

#st12:hover {
    cursor: ne-resize;
}

#st13 {
    width: 25px;
    background-color: rgb(150, 6, 150);
    /* animation-duration: 1.5s; */
}

#st14 {
    width: 45px;
    background-color: lawngreen;
}

#st14:hover {
    cursor: nw-resize;
}

#st15 {
    width: 15px;
    background-color: rgb(238, 255, 82);
}

#st15:hover {
    cursor: se-resize;
}

#st16 {
    width: 35px;
    background-color: rgb(27, 253, 148);
}

#st16:hover {
    cursor: sw-resize;
}

#st17 {
    width: 77px;
    background-color: rgb(31, 84, 231);
}

#st17:hover {
    cursor: ne-resize;
}

#st18 {
    width: 45px;
    background-color: rgb(0, 214, 252);
}

#st18:hover {
    cursor: nw-resize;
}

#st19 {
    width: 35px;
    background-color: rgb(252, 0, 176);
}

#st20 {
    width: 77px;
    background-color: rgb(158, 106, 243);
}

#st21 {
    width: 55px;
    background-color: rgb(14, 168, 153);
    animation-duration: 10s;
}

#st21:hover {
    cursor: sw-resize;
}

#question {
    animation-duration: 1s;
}

.moveDown {
    position: relative;
    top: 4px;
}

.moveUp {
    position: relative;
    bottom: 3px;
}

.space {
    margin-left: .25em;
}

.btm-margin {
    margin-bottom: 2.5em;
}

@keyframes fade {
    0% {
        opacity: .5;
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: .75;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: .1;
    }
}

@keyframes nofade {
    opacity: 1;
}